<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskProject - AudiotoText</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>

<body>
    <h1 class="title">Transcriber</h1>
    <main id="mainContainer">
        <h2>Upload Audio File</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="fileinput" required>
            <input class="btn" type="submit" id="submitButton" value="Process" onclick="animateLoader()" />
        </form>

        <h1 class="transcripted-text-head">Transcripted Text</h1>
        <div class="speechTranscriptContainer">
            <p id="transcripted-text">
                {% if transcript != "" %}
                    <p onload="onPLoad()">{{transcript}}</p>
                {% endif %}
            </p>
        </div>
    </main>

    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</body>

</html>